<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuming.crm.mapper.followUpRecordMapper.FollowUpRecordMapper" >
  <resultMap id="Map" type="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecord" >
    <id column="follow_up_record_id" property="followUpRecordId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="follow_up_date" property="followUpDate" jdbcType="DATE" />
    <result column="follow_up_theme" property="followUpTheme" jdbcType="VARCHAR" />
    <result column="next_remind_date" property="nextRemindDate" jdbcType="DATE" />
    <result column="next_follow_up_theme" property="nextFollowUpTheme" jdbcType="VARCHAR" />
    <result column="follow_up_record_type" property="followUpRecordType" jdbcType="INTEGER" />
    <result column="follow_up_record_status" property="followUpRecordStatus" jdbcType="INTEGER" />
    <result column="follow_up_record_create_date" property="followUpRecordCreateDate" jdbcType="TIMESTAMP" />
    <result column="follow_up_record_update_date" property="followUpRecordUpdateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordWithBLOBs" extends="Map" >
    <result column="follow_up_content" property="followUpContent" jdbcType="LONGVARCHAR" />
    <result column="next_follow_up_content" property="nextFollowUpContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    follow_up_record_id, user_id, user_name, customer_id, customer_name, follow_up_date, 
    follow_up_theme, next_remind_date, next_follow_up_theme, follow_up_record_type, follow_up_record_status, 
    follow_up_record_create_date, follow_up_record_update_date
  </sql>
  <sql id="Blob_Column_List" >
    follow_up_content, next_follow_up_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from follow_up_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="Map" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from follow_up_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from follow_up_record
    where follow_up_record_id = #{followUpRecordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from follow_up_record
    where follow_up_record_id = #{followUpRecordId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordExample" >
    delete from follow_up_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordWithBLOBs" >
    insert into follow_up_record (follow_up_record_id, user_id, user_name, 
      customer_id, customer_name, follow_up_date, 
      follow_up_theme, next_remind_date, next_follow_up_theme, 
      follow_up_record_type, follow_up_record_status, 
      follow_up_record_create_date, follow_up_record_update_date, 
      follow_up_content, next_follow_up_content
      )
    values (#{followUpRecordId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{followUpDate,jdbcType=DATE}, 
      #{followUpTheme,jdbcType=VARCHAR}, #{nextRemindDate,jdbcType=DATE}, #{nextFollowUpTheme,jdbcType=VARCHAR}, 
      #{followUpRecordType,jdbcType=INTEGER}, #{followUpRecordStatus,jdbcType=INTEGER}, 
      #{followUpRecordCreateDate,jdbcType=TIMESTAMP}, #{followUpRecordUpdateDate,jdbcType=TIMESTAMP}, 
      #{followUpContent,jdbcType=LONGVARCHAR}, #{nextFollowUpContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordWithBLOBs" >
    insert into follow_up_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="followUpRecordId != null" >
        follow_up_record_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="followUpDate != null" >
        follow_up_date,
      </if>
      <if test="followUpTheme != null" >
        follow_up_theme,
      </if>
      <if test="nextRemindDate != null" >
        next_remind_date,
      </if>
      <if test="nextFollowUpTheme != null" >
        next_follow_up_theme,
      </if>
      <if test="followUpRecordType != null" >
        follow_up_record_type,
      </if>
      <if test="followUpRecordStatus != null" >
        follow_up_record_status,
      </if>
      <if test="followUpRecordCreateDate != null" >
        follow_up_record_create_date,
      </if>
      <if test="followUpRecordUpdateDate != null" >
        follow_up_record_update_date,
      </if>
      <if test="followUpContent != null" >
        follow_up_content,
      </if>
      <if test="nextFollowUpContent != null" >
        next_follow_up_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="followUpRecordId != null" >
        #{followUpRecordId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="followUpDate != null" >
        #{followUpDate,jdbcType=DATE},
      </if>
      <if test="followUpTheme != null" >
        #{followUpTheme,jdbcType=VARCHAR},
      </if>
      <if test="nextRemindDate != null" >
        #{nextRemindDate,jdbcType=DATE},
      </if>
      <if test="nextFollowUpTheme != null" >
        #{nextFollowUpTheme,jdbcType=VARCHAR},
      </if>
      <if test="followUpRecordType != null" >
        #{followUpRecordType,jdbcType=INTEGER},
      </if>
      <if test="followUpRecordStatus != null" >
        #{followUpRecordStatus,jdbcType=INTEGER},
      </if>
      <if test="followUpRecordCreateDate != null" >
        #{followUpRecordCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpRecordUpdateDate != null" >
        #{followUpRecordUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpContent != null" >
        #{followUpContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="nextFollowUpContent != null" >
        #{nextFollowUpContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordExample" resultType="java.lang.Integer" >
    select count(*) from follow_up_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update follow_up_record
    <set >
      <if test="record.followUpRecordId != null" >
        follow_up_record_id = #{record.followUpRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.followUpDate != null" >
        follow_up_date = #{record.followUpDate,jdbcType=DATE},
      </if>
      <if test="record.followUpTheme != null" >
        follow_up_theme = #{record.followUpTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.nextRemindDate != null" >
        next_remind_date = #{record.nextRemindDate,jdbcType=DATE},
      </if>
      <if test="record.nextFollowUpTheme != null" >
        next_follow_up_theme = #{record.nextFollowUpTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.followUpRecordType != null" >
        follow_up_record_type = #{record.followUpRecordType,jdbcType=INTEGER},
      </if>
      <if test="record.followUpRecordStatus != null" >
        follow_up_record_status = #{record.followUpRecordStatus,jdbcType=INTEGER},
      </if>
      <if test="record.followUpRecordCreateDate != null" >
        follow_up_record_create_date = #{record.followUpRecordCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.followUpRecordUpdateDate != null" >
        follow_up_record_update_date = #{record.followUpRecordUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.followUpContent != null" >
        follow_up_content = #{record.followUpContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.nextFollowUpContent != null" >
        next_follow_up_content = #{record.nextFollowUpContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update follow_up_record
    set follow_up_record_id = #{record.followUpRecordId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      follow_up_date = #{record.followUpDate,jdbcType=DATE},
      follow_up_theme = #{record.followUpTheme,jdbcType=VARCHAR},
      next_remind_date = #{record.nextRemindDate,jdbcType=DATE},
      next_follow_up_theme = #{record.nextFollowUpTheme,jdbcType=VARCHAR},
      follow_up_record_type = #{record.followUpRecordType,jdbcType=INTEGER},
      follow_up_record_status = #{record.followUpRecordStatus,jdbcType=INTEGER},
      follow_up_record_create_date = #{record.followUpRecordCreateDate,jdbcType=TIMESTAMP},
      follow_up_record_update_date = #{record.followUpRecordUpdateDate,jdbcType=TIMESTAMP},
      follow_up_content = #{record.followUpContent,jdbcType=LONGVARCHAR},
      next_follow_up_content = #{record.nextFollowUpContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update follow_up_record
    set follow_up_record_id = #{record.followUpRecordId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      follow_up_date = #{record.followUpDate,jdbcType=DATE},
      follow_up_theme = #{record.followUpTheme,jdbcType=VARCHAR},
      next_remind_date = #{record.nextRemindDate,jdbcType=DATE},
      next_follow_up_theme = #{record.nextFollowUpTheme,jdbcType=VARCHAR},
      follow_up_record_type = #{record.followUpRecordType,jdbcType=INTEGER},
      follow_up_record_status = #{record.followUpRecordStatus,jdbcType=INTEGER},
      follow_up_record_create_date = #{record.followUpRecordCreateDate,jdbcType=TIMESTAMP},
      follow_up_record_update_date = #{record.followUpRecordUpdateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordWithBLOBs" >
    update follow_up_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="followUpDate != null" >
        follow_up_date = #{followUpDate,jdbcType=DATE},
      </if>
      <if test="followUpTheme != null" >
        follow_up_theme = #{followUpTheme,jdbcType=VARCHAR},
      </if>
      <if test="nextRemindDate != null" >
        next_remind_date = #{nextRemindDate,jdbcType=DATE},
      </if>
      <if test="nextFollowUpTheme != null" >
        next_follow_up_theme = #{nextFollowUpTheme,jdbcType=VARCHAR},
      </if>
      <if test="followUpRecordType != null" >
        follow_up_record_type = #{followUpRecordType,jdbcType=INTEGER},
      </if>
      <if test="followUpRecordStatus != null" >
        follow_up_record_status = #{followUpRecordStatus,jdbcType=INTEGER},
      </if>
      <if test="followUpRecordCreateDate != null" >
        follow_up_record_create_date = #{followUpRecordCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpRecordUpdateDate != null" >
        follow_up_record_update_date = #{followUpRecordUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="followUpContent != null" >
        follow_up_content = #{followUpContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="nextFollowUpContent != null" >
        next_follow_up_content = #{nextFollowUpContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where follow_up_record_id = #{followUpRecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecordWithBLOBs" >
    update follow_up_record
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      follow_up_date = #{followUpDate,jdbcType=DATE},
      follow_up_theme = #{followUpTheme,jdbcType=VARCHAR},
      next_remind_date = #{nextRemindDate,jdbcType=DATE},
      next_follow_up_theme = #{nextFollowUpTheme,jdbcType=VARCHAR},
      follow_up_record_type = #{followUpRecordType,jdbcType=INTEGER},
      follow_up_record_status = #{followUpRecordStatus,jdbcType=INTEGER},
      follow_up_record_create_date = #{followUpRecordCreateDate,jdbcType=TIMESTAMP},
      follow_up_record_update_date = #{followUpRecordUpdateDate,jdbcType=TIMESTAMP},
      follow_up_content = #{followUpContent,jdbcType=LONGVARCHAR},
      next_follow_up_content = #{nextFollowUpContent,jdbcType=LONGVARCHAR}
    where follow_up_record_id = #{followUpRecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuming.crm.entity.followUpRecordEntity.FollowUpRecord" >
    update follow_up_record
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      follow_up_date = #{followUpDate,jdbcType=DATE},
      follow_up_theme = #{followUpTheme,jdbcType=VARCHAR},
      next_remind_date = #{nextRemindDate,jdbcType=DATE},
      next_follow_up_theme = #{nextFollowUpTheme,jdbcType=VARCHAR},
      follow_up_record_type = #{followUpRecordType,jdbcType=INTEGER},
      follow_up_record_status = #{followUpRecordStatus,jdbcType=INTEGER},
      follow_up_record_create_date = #{followUpRecordCreateDate,jdbcType=TIMESTAMP},
      follow_up_record_update_date = #{followUpRecordUpdateDate,jdbcType=TIMESTAMP}
    where follow_up_record_id = #{followUpRecordId,jdbcType=VARCHAR}
  </update>

  <select id="findFollowUpRecord" parameterType="java.lang.String" resultMap="Map">
    SELECT
        *
    FROM
        follow_up_record
    ORDER BY
        follow_up_record_update_date DESC;
  </select>

  <select id="findFollowUpRecordByUserId" parameterType="java.lang.String" resultMap="Map">
    SELECT
        *
    FROM
        follow_up_record
    WHERE
        user_id = #{userId}
    ORDER BY
        follow_up_record_update_date DESC;
  </select>
</mapper>